{% extends "sidenav.html" %}

{% block content %}
  <div class="container mt-5">
    <h2>Dashboard</h2>
    <p>Monitoring, evaluating and improvong your performance.</p>
  </div>

  <div class="container mt-5">
    <div class="row">
        <div class="col-md-3">
          <div class="card text-dark bg-light shadow-sm mb-3" style="width: 200px;">
            <div class="card-body">
              <h5 class="card-title">Cash</h5>
              <p class="card-text">$5,200</p>
            </div>
          </div>
        </div>
       
        <div class="col-md-3">
            <div class="card text-dark bg-light shadow-sm mb-3" style="width: 200px;">
              <div class="card-body">
                <h5 class="card-title">Credit card</h5>
                <p class="card-text">$1,200</p>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card text-dark bg-light shadow-sm mb-3" style="width: 200px;">
              <div class="card-body">
                <h5 class="card-title">Debit Card</h5>
                <p class="card-text">$6,200</p>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card text-light bg-black shadow-sm mb-3" style="width: 200px;">
              <div class="card-body">
                <h5 class="card-title">Add Account</h5>
              </div>
            </div>
          </div>
      </div>
      
  </div>
{% endblock %}
