{% extends "base.html" %}

{% block title %}Add Income{% endblock %}

{% block content %}
    <h1>Add Income For the Month</h1>
    <form action="/add-income" method="POST" class="p-4 border rounded bg-light shadow-sm">
    <div class="mb-3">
        <label for="amount" class="form-label">Amount</label>
        <input type="number" class="form-control" name="amount" step="0.01" required>
    </div>

    <div class="mb-3">
        <label for="date" class="form-label">Date (YYYY-MM)</label>
        <input type="month" class="form-control" name="date" required>
    </div>

        <button type="submit" class="btn btn-primary">Add Income</button>
    </form>

    <br>
    
    <a href="{{ url_for('index') }}" class="btn btn-info">Back to Home</a>

{% endblock %}

